*{
    margin:0;
    padding:0
}
body{
  font-family: "Poppins", sans-serif;
}
.navbar{
  float:left;
}
#meditationbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 100vw;
  height: auto;
  
  }
  
  #medtext{
  text-align: center;
  font-size: 5vh;
  
  margin: 5% 5% 0 5%;
  
  }
  .moods{
    margin-top: 15vh;
  }
  .mood{
    width: 80vw;
    height: 15vh;
    background-color: blue;
    transition: 0.5s all ease;
  }
  .angry{
    background-color: rgba(240,246,255,255)
  }
  .anxiety{
    background-color: rgba(230,240,255,255)
  }
  .sad{
    background-color: rgba(214,231,255,255)
  }
  .stressed{
    background-color: rgba(194,219,255,255)
  }
  .calm{
    background-color: rgba(184,214,255,255)
  }
  .mood:hover{
    height: 30vh
    
  }
  .mood h3{
    padding-top: 5vh;
    padding-left: 5vh;
    
    cursor: pointer;
    font-size: 6vh;
  }
  .mood p{
    padding-top: 5vh;
    padding-left: 5vh;
    padding-bottom: 10vh;
    visibility: hidden;
    transition: 0.3s all ease;
    max-width: 40vw;
    overflow: hidden;
    text-align: justify;
    font-size: 2.5lvh;
  }
  .mood:hover p{
    visibility: visible
  }
  .meditatebutton{
    position: relative;
    left: 80%;
    top:-70%;
    text-decoration: none;
    color: black;
    background-color: azure;
    padding: 1.5vh;
    visibility: hidden;
    font-size: 3vh;
    border-radius: 30px;
    
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .mood:hover .meditatebutton{
    visibility: visible;
  }
  .meditatebutton:hover{
    background-color: rgba(230,240,255,255);
  }
  
  @media screen and (max-width: 768px) {
   .mood:hover {
    height: 40vh;
    
   }
   .mood p{
    min-width: 90%;
    font-size: 2.2lvh;
   }
   .meditatebutton{
    position: relative;
    left:4vh;
    top:-10%;
    font-size: 100%;
    
  
  
  
   }
  }
  
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  #medbox{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    /* background: url("/bg.jpg"); */
    animation: bgchange 10s infinite;
  
    
  }
  @keyframes bgchange {
    0%{
      background-color: #82caff;
    }
    50%{
      background-color: #4169e1;
    }
    100%{
      background-color:#82caff;
    }
    
  }
  
  
  
  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .input label {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .input select {
    border: none;
    border-radius: 8px;
    min-width: 300px;
    font-size: 16px;
    padding: 8px 4px;
    background-color: azure;
    color: black;
  }
  
  .input select:focus {
    outline: none;
  }
  .input option:hover{
      background-color: red;
  }
    
  
  
  .circle-wrap {
    display: flex;
  flex-direction: column;
      justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
  }
  
  .circle-outline {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    border: 15px solid azure;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .navbar-links  li img{
    width: 10vw;
    transform: scale(0.9);
    margin-top: -1vh;
  }
  .circle-progress {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: azure;
    border-radius: 50%;
    transition: 4s ease all;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .circle-grow {
    transform: scale(5.3);
  }
  
  .breaths {
    text-align: center;
    margin-top: -10vh;
    font-size: 24px;
  }
  
  .instructions p {
    text-align: center;
    margin-top: -10vh;
    
  }
  
  button {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: azure;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  
  button:hover {
    background-color:azure;
    color: #6236ff;
  }
  
  .button-inactive {
    pointer-events: none;
    background-color: white;
  }
  #comment{
    
    max-width: 100vw;
    height: 80vh;
    background-color: white;
  
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin-top: 20vh;
    margin-bottom: 15vh;
}
.feedbackcomments{
    height: 50vh;
    min-width: 25vw;
    background-color: white;
    margin-right: 2vw;
    margin-top:10vh;
   
    animation: scroll 12s linear infinite;
    

}
.feedbackcomments i{
    color:blue;
    transform: scale(2);
    margin-top: 5vh;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }

    
    100%{
        transform: translateX(-100%);
    }
}
.feedbackcomments p{
    
    margin-left: 3vw;
    box-shadow: (20px 2px 2px 2px rgba(0,0,0,0.5));
  
}
.feedbackcomments .rating{
    margin-top: -2vh;
}
.feedbackcomments .rating i{
    transform: scale(0.9);
}
.commentmade{
    overflow: wrap;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 5vh;
    text-align: justify;
}
.feedbackcomments .rating{
    margin-left: 3vw;
}
#comment:hover .feedbackcomments{
    
    animation-play-state: paused;

}
.feedbackcomments:hover{
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.waves img{
    width: 100vw;
    height: auto;
    
}
#footercontent{
    width: 100vw;
    height: 30vh;
    background-color:#3586ff;
    margin-top: -2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.felements{
    width:10vw;
   
    justify-content: space-between;
    align-items: center;
    
}
.felements a{
    text-decoration: none;
    color: white;
}


*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
#blogwrite32{
    width:90vw;
    height:100vh;
    background-color:white;
   display:flex;
   margin-left: 3vw;
   background-image: url("WhatsApp Image 2024-02-25 at 03.05.55_42f2b93d.jpg");
   
}
.container32{
    height:95vh;
    width:55vw;
    
    margin-top:6vh;
    

    
 } 
.image32{
    height:90vh;
    width:100%;
    background-image:url("Student\ stress-pana.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:20vh;
}
 #bloghead32{
    /* width:50%; */
    /* height:18vh; */
    margin-top:15vh;
    margin-left:10vh;
    
} 
#bloghead32 h1{
    font-weight:bold;
    font-size:4vw;
    width: 45vw;
    font-family: "Poppins", sans-serif;

}
#blogwrite32 p{
    font-size: 1.2vw;
    margin-left: 0vh;
    margin-top:5vh;
    text-align: justify;
    width: 30vw;
    overflow: wrap;
    font-family: "Poppins", sans-serif;
   
}
#bloghead32 button{
  margin-top: 5vh;
  margin-left: 0;
  width: 15vw;
  margin-right: 3vw;
  padding: 2vh;
}
#button1{
  background-color: #1580ea;
  color: white;
  font-family: "Poppins", sans-serif;
  
}
#button2{
  border: 2px solid #1580ea;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.container32{
  display: flex;
  width: 40vw;
  height: 40vw;
  
}
.image321{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.image322{
  background-color: #ffd95a;
  height: 50%;
  width: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.image323{
  background-color: #5dce90;
  height: 50%;
  width: 100%;
  border-top-right-radius: 50%;
}
.image323 img{
  transform: scale(0.7);
  margin-left: -15vw;
  margin-top: -1.5vh;
}
.image324{
  
  width: 50%;
  height: 100%;
 
  display: flex;
  flex-direction: column;
}
.image325{
  background-color: #1580ea;
  width: 100%;
  height: 50%;
  border-top-left-radius: 50%;
  
}
.image326 img{
  
  margin-top: -16.5vh;
  margin-left: -15vw;
  transform: scale(1.1);

}
.image326{
  background-color:#1580ea;
  width: 100%;
  height: 50%;
 
  border-bottom-right-radius: 50%;
}
@media (max-width:786px) {
    #blogwrite32{
        display: flex;
        flex-direction: column;
    }
    
}
/*@media only screen and (max-width:767px)
{}
@media only screen and (min-width:768px) and (max-width:1023px)
{}
@media only screen and (min-width:1024px) and (max-width:1439px)
{}
@media only screen and (min-width:1440px)
{}*/
/* #blogbutton32{
    margin-top:0vh;
    margin-left:40%;
}
a{
    position:relative;
    background:#fff;
    color:#fff;
    font-size:1.5em;
    letter-spacing: 0.1em;
    font-weight:400;
    padding:10px 30px;
    transition:0.5s;
}
a:hover{
    background:var(--clr);
    color:var(--clr);
    letter-spacing:0.25em;
    box-shadow:0 0 10px var(--clr);
}
a:before{
    content:'';
    position:absolute;
    inset:2px;
    background:#27282c;
}
a span {
    position:relative;
    z-index:1;
}
a i{
    position:absolute;
    inset:0;
    display:block;
}
a i::before{
    content: '';
    position:absolute;
    top:0;
    left:80%;
    width:10px;
    height:4px;
    background:#27282c;
    transform:translateX(-50%) skewX(325deg);
    transition:0.5s;
}
a:hover i::before{
    width:20px;
    left:20%;
}
a i::after{
    content: '';
    position:absolute;
    bottom:0;
    left:20%;
    width:10px;
    height:4px;
    background:#27282c;
    transform:translateX(-50%) skewX(325deg);
    transition:0.5s;   
}
a:hover i::after{
    width:20px;
    left:80%;
}  */
/* .book{

} */


#fcontainer{
width: 100vw;
display: flex;
justify-content: center;
height: 30vh;
background-color: #3586FF;
}
footer{
position: relative;
}
#flogo{
align-self: center;
margin-right: 5vh;
width: 10%;
transform: scale(0.5);
}
#fabout
{
width:15%;
height:10%;
background-color:#3586ff;
margin-top: 8vh;
justify-content: center;
text-align: center;
font-size: 2vh;   
}
#fabout  a{
text-decoration: none;
color: white;
font-size: 2vh;   
}
#fabout  a:hover{
color: black;
}
#fsupport{
width:15%;
height:10%;
background-color: #3586FF;
padding-top: 5vh;
justify-content: center;
text-align: center;
}
#fsupport a{
text-decoration: none;
color: white;
text-align: center;
font-size: 2vh;
}
#fsupport a:hover{
color: black;
}
#fcontact{
width:15%;
height:10%;
background-color: #3586FF;
padding-top: 5vh;
text-align: center;
justify-content: center;
}
#fcontact a{
text-decoration: none;
color: white;
text-align: center;
font-size: vh;
}
#fcontact a:hover{
color: black;
}
#gototop{ 
width:20vh;
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
border-radius:50%;
}
#gototop a{
background-color: white;
position: sticky;
right: 5vw;
bottom:2vw;
text-decoration: none;
color: black;
text-align: center;
padding: 1.5vw;
margin-left:15vw;
border-radius: 50%;
height:2vh;
width:2vh;
}
#gototop a:hover{
border:2px solid black;
color: #3586ff;
}
#gototop i{
transform:scale(1.5);
display:flex;
justify-content:center;
align-items:center;
}
.waves{
position: absolute;
top: -50px;
left: 0;
width: 100vw;
height: 100px;
background:url('wave.png');
}
.waves #wave1{
opacity: 1;
animation: animatewaves 4s linear infinite;
}
@keyframes animatewaves{
0%{background-position-x:1000px;}
100%{
background-position-x:0px ;
}
}
.waves #wave2{
opacity: 0.5;
animation: animatewaves_2 3s linear infinite;
}
@keyframes animatewaves_2{
0%{background-position-x:0px;}
100%{
background-position-x:1000px ;
}
}
.waves #wave3{
opacity: 0.2;
animation: animatewaves 3s linear infinite;
}
.waves #wave4{
opacity: 0.7;
animation: animatewaves_2 4s linear infinite;
}